@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: 20px;
    font-family: 'Athiti';
    font-size: 22px;
    scroll-behavior: smooth;
}

body {
    background-color: black;
    color: white;
    text-shadow: 1px 1px 0px black;
    padding: 0;
    margin: 0;
}

.text-2xs {
    font-size: 0.5rem;
    line-height: 0.75rem;
}

.menu {
    position: fixed;
    width: 100%;
    z-index: 10;
}

.menu > .icon {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    cursor: pointer;
}

.menu > .items {
    background-color: black;
    display: flex;
    gap: 1rem;
    padding: 0.5rem;
}

.menu > .items > div {
    cursor: pointer;
}

.main_logo {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.main_logo>img {
    max-height: 50%;
    max-width: 75%;
    margin-top: 10vh;
    margin-bottom: 1rem;
}

.main_logo .backgroud {
    background-image: url("images/main_background.jpg");
    width: 100%;
    height: calc(100% + 100px);
    background-size: 100vw;
    background-position-x: 75%;
    position: fixed;
    z-index: -2;
    transition: opacity 0.5s linear;
}

.seperator {
    @apply text-center font-bold text-lg text-primary my-4;
    position: relative;
}

.seperator > .line {
    position: absolute;
    border-bottom: 1px solid #8D8D8D;
    width: 98%;
    top: 50%;
    z-index: -1;
    left: 1%;
}

.services>.service {
    background-color: rgba(255, 255, 255, 0.1);
    @apply p-10 mt-5 font-bold text-lg text-center;
}

.main_map {
    width: 100%;
}

.contacts {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact>.icon {
    width: 5rem;
    height: 5rem;
    font-size: 2rem;
    text-align: center;
    line-height: 5rem;
    border-radius: 50%;
    color: #f2f2f2ff;
    @apply bg-primary;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}

.contact>.title {
    @apply font-bold;
}

.contact>.value {
    @apply font-bold;
}

@media only screen and (max-width: 750px) {

    .main_logo .backgroud {
        background-size: auto 100vh;
    }

    .contacts {
        flex-direction: column;
        gap: 1rem;
    }

    .menu > .items {
        flex-direction: column;
        height: 100vh;
        align-items: center;
    }
}